.digital-clock{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(219, 234, 246, 0.241);
    color: greenyellow;
    
}
.countdown{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    margin-bottom: 100px;

;
    
  
}