.digital-clock{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(219, 234, 246, 0.241);
    color: greenyellow;
    font-size:24px;
    font-weight:bolder;
    margin-top:50px;
}
.c-button{
 border-radius:12px;
 
}
.c-button:hover{
    box-shadow: 11px 6px 5px greenyellow ;
       
  }
  
